<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.dync.zxinglibrary" >

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application android:allowBackup="true">

        <activity android:name=".utils.PreferencesActivity"
            android:stateNotNeeded="true"/>

    </application>

</manifest>
