<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kathline.barcode">

    <uses-feature android:name="android.hardware.camera"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application android:allowBackup="true"
        android:requestLegacyExternalStorage="true">

    </application>
</manifest>